# Creating filler data with Numpy and Pandas

In [4]:
import numpy as np
import pandas as pd

## Numpy

In [5]:
np.random.rand(6,2)

array([[0.39142806, 0.70480947],
       [0.83422057, 0.90813292],
       [0.69538329, 0.04317861],
       [0.66165434, 0.43024917],
       [0.84960575, 0.83129592],
       [0.39413594, 0.54248073]])

In [11]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [15]:
np.zeros((5,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [16]:
np.ones((2,2))

array([[1., 1.],
       [1., 1.]])

In [24]:
# np.arange(start,stop,interval)
np.arange(1,9,1)

array([1, 2, 3, 4, 5, 6, 7, 8])

## Pandas

In [8]:
pd.date_range(start="1/1/2018", periods=12, freq='M')

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31'],
              dtype='datetime64[ns]', freq='M')

In [10]:
pd.date_range(start="1/1/2018", periods=12, freq=pd.offsets.MonthBegin())

DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [39]:
col1=pd.date_range(start="1/1/2018", periods=100)
col2=(100*(np.random.rand(100))).round()
data={'Dates':col1,'Values':col2}
df=pd.DataFrame(data)
df.head()

       Dates  Values
0 2018-01-01    31.0
1 2018-01-02    68.0
2 2018-01-03    96.0
3 2018-01-04    51.0
4 2018-01-05    47.0