# Modifying datatypes in pandas

> 1. [Create Integer Data](#createData)
> 2. [Convert Int to Datetime](#convertDateTime)

In [7]:
import numpy as np
import pandas as pd

<a id="createData"></a> 
### Creating integer data in date column
***

In [2]:
data = {'dates':np.arange(20180101,20180108)}
df=pd.DataFrame(data)
df.head(2)

      dates
0  20180101
1  20180102

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
dates    7 non-null int32
dtypes: int32(1)
memory usage: 108.0 bytes

<a id="convertDateTime"></a>
### Converting integer to datetime
***

In [8]:
df['dates']=pd.to_datetime(df['dates'], format='%Y%m%d', errors='ignore')
df.head(2)

       dates
0 2018-01-01
1 2018-01-02

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
dates    7 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 136.0 bytes