# Modifying datatypes in pandas

In [2]:
import numpy as np
import pandas as pd

In [9]:
data = {'dates':np.arange(20180101,20180107+1)}
df=pd.DataFrame(data)
df

      dates
0  20180101
1  20180102
2  20180103
3  20180104
4  20180105
5  20180106
6  20180107

In [11]:
df['dates']=df['dates'].to_datetime(df['dates'], format='%Y%m%d', errors='ignore')
df

AttributeError: 'Series' object has no attribute 'to_datetime'